<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo">
        <span>SAKAI</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div *ngIf="themeLight; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button type="button" (click)="setTheme()" class="p-link layout-topbar-button">
                <i class="fa-solid fa-moon"></i>
                <span>Dark</span>
            </button>
        </ng-template>
        <ng-template #elseBlock>
            <button type="button" (click)="setTheme()" class="p-link layout-topbar-button">
                <i class="pi pi-sun"></i>
                <span>Light</span>
            </button>
        </ng-template>
    </div>
</div>