coin-info = {{idCoin}}
<!--
<hr>
cryptoCurrency id = {{cryptoCurrency.id}}
<hr>
cryptoCurrency name = {{cryptoCurrency.name}}
<hr>
cryptoCurrency symbol = {{cryptoCurrency.symbol}}
<hr>
coinInfo genesis_date = {{coinInfo.genesis_date}}
<hr>
coinInfo market_cap_rank = {{coinInfo.market_cap_rank}}
<hr>
coinInfo coingecko_rank = {{coinInfo.coingecko_rank}}
<hr>
coinInfo last_updated = {{coinInfo.last_updated}}
<hr>
coinInfo id = {{coinInfo.id}}
<hr>
coinInfo name = {{coinInfo.name}}
<hr>
coinInfo symbol = {{coinInfo.symbol}} -->