<p-dialog header="Error" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}"
    [breakpoints]="{'500px': '75vw'}">
    <p class="line-height-3 m-0">
        {{error}}
    </p>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
<div class="grid">
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex mb-3">
                <span class="mr-2">
                    <p-image src="{{crypto.image}}" alt="Image" width="50" height="50"></p-image>
                </span>
                <span class="mr-2 mt-1"><b>
                        <h1 style="font-weight:bold">{{crypto.name}}</h1>
                    </b></span>
                <span class="mt-3"><b>
                        <p-tag [style]="{'padding-top': '0.2rem','padding-right': '0.4rem','padding-bottom': '0.2rem','padding-left': '0.4rem',
                            'font-size': '1rem'}" value="{{crypto.symbol.toUpperCase()}}"></p-tag></b></span>
            </div>
            <div class="flex mb-3">
                <p-chip>
                    <div class="p-2"><b>Rank #{{crypto.market_cap_rank}}</b></div>
                </p-chip>
            </div>

            <div class="flex mb-3">
                <span class="mt-1 mr-2">
                    <h1>{{crypto.current_price | currency:'':'':'.0-10'}}</h1>
                </span>
                <div *ngIf="crypto.price_change_percentage_24h_in_currency > 0; then thenBlock else elseBlock">
                </div>
                <ng-template #thenBlock>
                    <span class="mt-3"><b>
                            <p-tag icon="pi pi-angle-up" [style]="{'padding-top': '0.2rem','padding-right': '0.4rem','padding-bottom': '0.2rem','padding-left': '0.4rem',
                            'font-size': '1rem', 'background-color': '#16c784'}"
                                value="{{crypto.price_change_percentage_24h_in_currency | number:'.1-2'}} %"></p-tag></b></span>
                </ng-template>
                <ng-template #elseBlock>
                    <span class="mt-3"><b>
                            <p-tag icon="pi pi-angle-down" [style]="{'padding-top': '0.2rem','padding-right': '0.4rem','padding-bottom': '0.2rem','padding-left': '0.4rem',
                            'font-size': '1rem', 'background-color': '#ea3943'}"
                                value="{{crypto.price_change_percentage_24h_in_currency | number:'.1-2'}} %"></p-tag></b></span>
                </ng-template>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>24h price change</span>
                <div *ngIf="crypto.price_change_24h > 0; then thenBlock24pch else elseBlock24pch">
                </div>
                <ng-template #thenBlock24pch>
                    <div style="text-align:end;color:#16c784"><b>{{crypto.price_change_24h | currency:'USD':'':'.0-10'
                            }}</b></div>
                </ng-template>
                <ng-template #elseBlock24pch>
                    <div style="text-align:end;color:#ea3943"><b>{{crypto.price_change_24h | currency:'USD':'':'.0-10'
                            }}</b></div>
                </ng-template>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>24h market cap change</span>
                <div *ngIf="crypto.market_cap_change_24h > 0; then thenBlock24mcch else elseBlock24mcch">
                </div>
                <ng-template #thenBlock24mcch>
                    <div style="text-align:end;color:#16c784"><b>{{crypto.market_cap_change_24h |
                            currency:'USD':'':'.0-10'
                            }}</b></div>
                </ng-template>
                <ng-template #elseBlock24mcch>
                    <div style="text-align:end;color:#ea3943"><b>{{crypto.market_cap_change_24h |
                            currency:'USD':'':'.0-10'
                            }}</b></div>
                </ng-template>
            </div>
            <br>
            <div class="mb-3">
                <div style="text-align:center"><b>{{valueProgressBar | number:'.1-2'}}%</b></div>
                <p-progressBar [style]="{ height: '10px' }" [value]="valueProgressBar"
                    [showValue]="false"></p-progressBar>
                <p style="float: left">Low 24h: <b>{{crypto.low_24h | currency:'':'':'.0-10'}}</b></p>
                <p style="float: right">High 24h: <b>{{crypto.high_24h | currency:'':'':'.0-10'}}</b></p>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <span>Percentage 1h</span>
                <div *ngIf="crypto.price_change_percentage_1h_in_currency > 0; then thenBlock1h else elseBlock1h"></div>
                <ng-template #thenBlock1h>
                    <div style="text-align:end;color:#16c784"><b>{{crypto.price_change_percentage_1h_in_currency |
                            number:'.1-2' }} %</b></div>
                </ng-template>
                <ng-template #elseBlock1h>
                    <div style="text-align:end;color:#ea3943"><b>{{crypto.price_change_percentage_1h_in_currency |
                            number:'.1-2' }} %</b></div>
                </ng-template>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>Percentage 24h</span>
                <div *ngIf="crypto.price_change_percentage_24h_in_currency > 0; then thenBlock24h else elseBlock24h">
                </div>
                <ng-template #thenBlock24h>
                    <div style="text-align:end;color:#16c784"><b>{{crypto.price_change_percentage_24h_in_currency |
                            number:'.1-2' }} %</b></div>
                </ng-template>
                <ng-template #elseBlock24h>
                    <div style="text-align:end;color:#ea3943"><b>{{crypto.price_change_percentage_24h_in_currency |
                            number:'.1-2' }} %</b></div>
                </ng-template>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>Percentage 7d</span>
                <div *ngIf="crypto.price_change_percentage_7d_in_currency > 0; then thenBlock7d else elseBlock7d">
                </div>
                <ng-template #thenBlock7d>
                    <div style="text-align:end;color:#16c784"><b>{{crypto.price_change_percentage_7d_in_currency |
                            number:'.1-2' }} %</b></div>
                </ng-template>
                <ng-template #elseBlock7d>
                    <div style="text-align:end;color:#ea3943"><b>{{crypto.price_change_percentage_7d_in_currency |
                            number:'.1-2' }} %</b></div>
                </ng-template>
            </div>

            <p-divider></p-divider>

            <div class="flex justify-content-between mb-3">
                <span>Total Volume 24h</span>
                <div style="text-align:end"><b> {{ crypto.total_volume | currency:'USD':'':'.0-0' }} </b></div>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>Market Cap</span>
                <div style="text-align:end"><b> {{ crypto.market_cap | currency:'USD':'':'.0-0' }} </b></div>
            </div>

            <p-divider></p-divider>

            <div class="flex justify-content-between mb-3">
                <span>Circulating Supply</span>
                <div style="text-align:end"><b> {{ crypto.circulating_supply| currency:'USD':'':'.0-0' }} </b></div>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>Max Supply</span>
                <div style="text-align:end"><b> {{ crypto.max_supply| currency:'USD':'':'.0-0' }} </b></div>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>Total Supply</span>
                <div style="text-align:end"><b> {{ crypto.total_supply| currency:'USD':'':'.0-0' }} </b></div>
            </div>


        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <span>Lowest price</span>
                <div style="text-align:end"><b>{{crypto.atl | currency:'':'':'.0-10'}}</b></div>
                <div style="text-align:end"><b>{{crypto.atl_date | date:'mediumDate'}}</b></div>
            </div>
            <div class="flex justify-content-between mb-3">
                <span>Highest date</span>
                <div style="text-align:end"><b>{{crypto.ath | currency:'':'':'.0-10'}}</b></div>
                <div style="text-align:end"><b>{{crypto.ath_date | date:'mediumDate'}}</b></div>
            </div>
            <br>
            <div class="mb-3">
                <div style="text-align:center"><b>{{valueProgressBarLife | number:'.1-2'}}%</b></div>
                <p-progressBar [style]="{ height: '10px' }" [value]="valueProgressBarLife"
                    [showValue]="false"></p-progressBar>
                <p style="float: left">Lowest price: <b>{{crypto.atl | currency:'':'':'.0-10'}}</b></p>
                <p style="float: right">Highest price: <b>{{crypto.ath | currency:'':'':'.0-10'}}</b></p>
            </div>

            <p-divider align="center">
                links
            </p-divider>

            <li *ngFor="let home of homepage; index as i; first as isFirst">
                <span *ngIf="isFirst">default</span>

                <a href="{{home}}" target="_blank" pTooltip="{{home}}"><p-button label="Homepage {{i+1}}"
                        styleClass="p-button-outlined p-button-info"></p-button></a>

            </li>

        </div>
    </div>


</div>