<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Filter Menu</h5>
            <p-table [value]="cryptoCurrencies" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>id</th>
                        <th>Cryptocurrency</th>
                        <th>Price {{currency.toUpperCase()}}</th>
                        <th>1h</th>
                        <th>24h</th>
                        <th>7d</th>
                        <th>24h Volumen {{currency.toUpperCase()}}</th>
                        <th>Market Cap {{currency.toUpperCase()}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cryptoCurrency>
                    <tr>
                        <td>{{cryptoCurrency.market_cap_rank}}</td>
                        <td><p-image src="{{cryptoCurrency.image}}" alt="Image" width="15"></p-image>
                            {{cryptoCurrency.name}} {{cryptoCurrency.symbol.toUpperCase()}}</td>
                        <td>{{cryptoCurrency.current_price | currency:'USD':'':'.0-5'}}</td>
                        <td>{{cryptoCurrency.price_change_percentage_1h_in_currency | number:'.1-2'}}%</td>
                        <td>{{cryptoCurrency.price_change_percentage_24h_in_currency | number:'.1-2'}}%</td>
                        <td>{{cryptoCurrency.price_change_percentage_7d_in_currency | number:'.1-2'}}%</td>
                        <td>{{cryptoCurrency.total_volume | currency:'USD':'':'.0-0'}}</td>
                        <td>{{cryptoCurrency.market_cap | currency:'USD':'':'.0-0'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>